{% extends 'base.html' %} 
{% block title %} 
  Welcome to onlineStore 
{% endblock %} 

{% block content %}
<div class="container-fluid">
  <div class="row" style="margin-left: 20px;">
    {% for dict in list %}
    <div class="col-2.4">
      <div class="card" style="width: 15rem;margin: 5px;">
        {% set image_path = url_for('static', filename='uploads/' ~ dict.Image) %} 
        <img class="card-img-top" src="{{ image_path }}" alt="Product Image" />
        <div class="card-body">
          <h5 class="card-title text-primary">Name: {{ dict.Name }}</h5>
          <h5 class="card-title text-success">Brand: {{ dict.Brand }}</h5>
          <h5 class="card-title text-danger">Price: RS {{ dict.Price }}</h5>
          <form action="" method="GET">
            <input type="hidden" name="Name" value="{{ dict.Name }}">
            <input type="hidden" name="Brand" value="{{ dict.Brand }}">
            <input type="hidden" name="Price" value="{{ dict.Price }}">
            <button type="submit" class="btn btn-primary">Add to Cart</button>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}

{% block navBar %}
<form class="form-inline my-2 my-lg-0" method="POST" action="">
  <button class="btn btn-outline-success my-2 my-sm-0 text-light bg-dark" type="submit">My Cart</button>
</form>
{% endblock %}
