{% extends 'base.html' %}

{% block title %}
  Welcome to onlineStore
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row" style="margin-left: 20px;">
    {% for dict in list %}
    <div class="col-3">
      <div class="card" style="width: 15rem; margin: 5px;">
        <img class="card-img-top" src="https://picsum.photos/100" alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title text-primary">Name: {{ dict.Name }}</h5>
          <h5 class="card-title text-success">Brand: {{ dict.Brand }}</h5>
          <h5 class="card-title text-danger">Price: RS {{ dict.Price }}</h5>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block navBar %}
<div style="margin: 5px;">
  <form class="form-inline my-2 my-lg-0" method="POST">
    {{ form.hidden_tag() }}  <!-- This includes the CSRF token -->
    {{ form.promo_code(class="form-control mr-sm-2", placeholder="Coupon_Code") }}
    {{ form.submit(class="btn btn-danger my-2 my-sm-0 text-light") }}
  </form>
</div>
{% endblock %}
