{% extends 'base.html' %}
{% block title %}
  Order Details
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center min-vh-100">
  <div>
    <form method="POST" action="">
      {{ form.hidden_tag() }}  <!-- CSRF token added here -->
      <h1 class="text-center">
        Your total amount is : RS <span style="color: red;">{{ total_val }}</span>
      </h1>
      <h1 class="text-center">
        Enter Your Order Details
      </h1>
      <div style="width: 50rem;">
        <div class="form-row" style="max-width: 100%;">
          <div class="col">
            {{ form.hno(class="form-control", placeholder="House Number") }}
          </div>
          <div class="col">
            {{ form.city(class="form-control", placeholder="City") }}
          </div>
          <div class="col">
            {{ form.state(class="form-control", placeholder="State") }}
          </div>
          <div class="col">
            {{ form.pincode(class="form-control", placeholder="Pincode") }}
          </div>
        </div>
      </div>
      <div class="form-group" style="margin-top: 5px;">
        {{ form.mode(class="form-control") }}
      </div>
      <div class="text-center">
        {{ form.submit(class="btn btn-primary") }}
      </div>
    </form>
  </div>
</div>
{% endblock %}
