{% extends 'base.html' %}

{% block title %}
  Cart
{% endblock %}

{% block content %}
<div class="container-fluid">
  <h1 class="text-center">Cart</h1>  <!-- Added title -->
  <div class="row" style="margin-left: 20px;">
    {% for dict in list %}
    <div class="col-3">
      <div class="card" style="width: 15rem; margin: 5px;">
        {% set image_path = url_for('static', filename=dict.Image) %}
        <img class="card-img-top" src="{{ image_path }}" alt="Product Image" />
        <div class="card-body">
          <h5 class="card-title text-primary">Name: {{ dict.Name }}</h5>
          <h5 class="card-title text-success">Brand: {{ dict.Brand }}</h5>
          <h5 class="card-title text-danger">Price: RS {{ dict.Price }}</h5>
          <form method="POST" action="{{ url_for('remove_from_cart', user_id=user_id, item_name=dict.Name) }}">
            {{ form.hidden_tag() }}  <!-- Ensure CSRF token is included here -->
            <button type="submit" class="btn btn-danger">Remove</button>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="row">
    <div class="col-12">
      <h3 class="text-right">Total Amount: RS {{ total_val }}</h3> <!-- Display total amount -->
    </div>
  </div>
</div>
{% endblock %}

{% block navBar %}
<div style="margin: 5px;">
  <form class="form-inline my-2 my-lg-0" method="POST">
    {{ form.hidden_tag() }}  <!-- This includes the CSRF token -->
    {{ form.promo_code(class="form-control mr-sm-2", placeholder="Coupon_Code") }}
    {{ form.submit(class="btn btn-danger my-2 my-sm-0 text-light") }}
  </form>
</div>
{% endblock %}
